<% layout('/layouts/default.html', {title: '课程管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('课程管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('edu:edMeeting:edit')){ %>
					<a href="${ctx}/edu/edMeeting/form" class="btn btn-default btnTool" title="${text('新增会议表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${edMeeting}" action="${ctx}/edu/edMeeting/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('课程名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('人数')}：</label>
					<div class="control-inline">
						<#form:input path="count" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<!--<div class="form-group">-->
					<!--<label class="control-label">${text('邀请码')}：</label>-->
					<!--<div class="control-inline">-->
						<!--<#form:input path="inviteCode" maxlength="100" class="form-control width-120"/>-->
					<!--</div>-->
				<!--</div>-->
				<div class="form-group">
					<label class="control-label">${text('计划开始时间')}：</label>
					<div class="control-inline">
						<#form:input path="planStartTime" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('计划结束时间')}：</label>
					<div class="control-inline">
						<#form:input path="planEndTime" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('实际开始时间')}：</label>
					<div class="control-inline">
						<#form:input path="actualStartTime" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('实际结束时间')}：</label>
					<div class="control-inline">
						<#form:input path="actualEndTime" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('课程状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="2000" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('课程名称')}', name:'name', index:'a.name', width:150, align:"left",  frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/edu/edMeeting/form?meetingCode='+row.meetingCode+'" class="btnList" data-title="${text('编辑课程')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('老师')}', name:'testUser.userName', index:'a.testUser', width:150, align:"center"},
		{header:'${text('人数')}', name:'count', index:'a.count', width:80, align:"center"},
		<!--{header:'${text('邀请码')}', name:'inviteCode', index:'a.invite_code', width:80, align:"left"},-->
		{header:'${text('计划开始时间')}', name:'planStartTime', index:'a.plan_start_time', width:150, align:"center"},
		{header:'${text('计划结束时间')}', name:'planEndTime', index:'a.plan_end_time', width:150, align:"center"},
		<!--{header:'${text('实际开始时间')}', name:'actualStartTime', index:'a.actual_start_time', width:150, align:"center"},-->
		<!--{header:'${text('实际结束时间')}', name:'actualEndTime', index:'a.actual_end_time', width:150, align:"center"},-->
		{header:'${text('课程状态')}', name:'status', index:'a.status', width:100, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text('备注')}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('edu:edMeeting:edit')){ %>
				actions.push('<a href="${ctx}/edu/edMeeting/form?meetingCode='+row.meetingCode+'" class="btnList" title="${text('编辑会议表')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/edu/edMeeting/delete?meetingCode='+row.meetingCode+'" class="btnList" title="${text('删除会议表')}" data-confirm="${text('确认要删除该会议表吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>