<% layout('/layouts/default.html', {title: '我的课程', libs: ['validate','ueditor','dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('我的课程')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${edMeeting}" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('课程信息')}</div>
				<#form:hidden path="meetingCode"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								${text('课程名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="name" maxlength="100" class="form-control" readonly="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								${text('人数')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="count" maxlength="10" class="form-control" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4" title="">
                                老师选择：<i class="fa icon-question hide"></i></label>
                            <div class="col-sm-8">
                                <#form:input path="testUser.userName" maxlength="10" class="form-control" readonly="true"/>
                            </div>
                        </div>
                    </div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('邀请码')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="inviteCode" maxlength="100" class="form-control" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4" title="">
                                <span class="required ">*</span> ${text('计划开始时间')}：<i class="fa icon-question hide"></i></label>
                            <div class="col-sm-8">
                                <#form:input path="planStartTime" readonly="true" maxlength="20" class="form-control"
                                dataFormat="datetime"/>
                            </div>
                        </div>
                    </div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								${text('计划结束时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
                                <#form:input path="planEndTime" readonly="true" maxlength="20" class="form-control"
                                dataFormat="datetime"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4" title="">
                                ${text('实际开始时间')}：<i class="fa icon-question hide"></i></label>
                            <div class="col-sm-8">
                                <#form:input path="actualStartTime" readonly="true" maxlength="20" class="form-control"
                                dataFormat="datetime"/>
                            </div>
                        </div>
                    </div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('实际结束时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
                                <#form:input path="actualEndTime" readonly="true" maxlength="20" class="form-control"
                                dataFormat="datetime"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('备注')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="remarks" rows="4" maxlength="2000" class="form-control" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				<h4 class="form-unit">${text('账号授权')}</h4>
				<div class="ml10 mr10">
					<table id="edUserAccountMappingDataGrid"></table>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
                        <a href="${ctx}/edu/edMeeting/save" class="btn btn-sm btn-primary" title="${text('开始上课')}"><i class="fa fa-check"></i> ${text('开始上课')}</a>
                        <button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
//初始化学员视频账号关系表DataGrid对象
$("#edUserAccountMappingDataGrid").dataGrid({

	data: ${toJson(edMeeting.edUserAccountMappingList)},
	datatype: "local", // 设置本地数据
	autoGridHeight: function(){return 'auto'}, // 设置自动高度
	
	// 设置数据表格列
	columnModel: [
		{header:'状态', name:'status', editable:true, hidden:true},
		{header:'主键', name:'mappingCode', editable:true, hidden:true},
		{header:'${text('会议编号')}', name:'meetingCode.meetingCode', editable:true, hidden:true},
		{header:'${text('学员')}', name:'testUser', width:150,
			formatter: function(val, obj, row, act){
				return js.val(row, 'testUser.userName');
			}, editable: false, edittype: "custom", editoptions: {
				custom_element: function(val, editOptions) {
					return js.template('treeselectTpl', {
						id: 'user_'+editOptions.id, title: '学员选择',
						name: 'testUser.userCode', value: val.split('|')[0],
						labelName: 'testUser.userName', labelValue: val.split('|')[1],
						url: '${ctx}/sys/office/treeData?isLoadUser=true', cssClass: ''
					});
				}
			}
		},
		{header:'${text('账号')}', name:'testAccount.name', width:100, readonly:true,
			editable:false, edittype:'select', editoptions:{'class':'form-control',
				items: ${toJson(edMeeting.edAccountList)},
				itemLabel: 'name', itemValue: 'acountCode',
			}
		},
		{header:'${text('备注')}', name:'remarks', width:150, editable:false, edittype:'textarea', editoptions:{'maxlength':'2000', 'class':'form-control', 'rows':'1'}}
	],
	
	// 编辑表格参数
	editGrid: true,				// 是否是编辑表格
	editGridInitRowNum: 1,		// 编辑表格的初始化新增行数
	editGridAddRowBtn: $('#edUserAccountMappingDataGridAddRowBtn'),	// 子表增行按钮
	editGridAddRowInitData: {mappingCode: '', status: Global.STATUS_NORMAL},	// 新增行的时候初始化的数据
	
	// 编辑表格的提交数据参数
	editGridInputFormListName: 'edUserAccountMappingList', // 提交的数据列表名
	editGridInputFormListAttrs: 'status,mappingCode,meetingCode.meetingCode,testUser.userCode,accountCode,createBy,createDate,updateBy,updateDate,remarks,', // 提交数据列表的属性字段
	
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
<script id="treeselectTpl" type="text/template">//<!--<div>
<#form:treeselect id="{{d.id}}" title="{{d.title}}" name="{{d.name}}" value="{{d.value}}"
	labelName="{{d.labelName}}" labelValue="{{d.labelValue}}" url="{{d.url}}"
	class="{{d.cssClass}}" btnClass="btn-sm" allowClear="true"/>
</div>//--></script>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>